#################
## Unity
#################s
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.suo
Thumbs.db
Thumbs.db.meta
AppClient/*.csproj
AppClient/*.sln
.vs/
AppClient/Assets/StreamingAssets/aa
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/

## .a
*.a
*.so
# Build results

[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/

*/[Bb]in/*
*/[Oo]bj/*

.idea

Tools/output

*.env
.env

iosbuild/
AppClient/Assets/StreamingAssets/config.json
AppClient/Assets/StreamingAssets/config.json*